.search-results {
  display: flex;
  flex-direction: column;
}
.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
}
.results {
  list-style: none;
  margin-bottom: 2rem;
}
.pagination__total {
  color: #00008b;
  font-size: 1.4rem;
  font-weight: 800;
  border: none;
  background-color: $color-grey-light-1;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
}
.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    &--all {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -3px;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
